In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("tested.csv")

In [11]:
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [12]:
df.set_index(['Pclass', 'Sex'], inplace=True)

In [13]:
print(df.loc[(3, 'male')])

             PassengerId  Survived                          Name   Age  SibSp  \
Pclass Sex
3      male          892         0              Kelly, Mr. James  34.5      0
       male          895         0              Wirz, Mr. Albert  27.0      0
       male          897         0    Svensson, Mr. Johan Cervin  14.0      0
       male          901         0       Davies, Mr. John Samuel  21.0      2
       male          902         0              Ilieff, Mr. Ylio   NaN      0
...                  ...       ...                           ...   ...    ...
       male         1291         0      Conlon, Mr. Thomas Henry  31.0      0
       male         1305         0            Spector, Mr. Woolf   NaN      0
       male         1307         0  Saether, Mr. Simon Sivertsen  38.5      0
       male         1308         0           Ware, Mr. Frederick   NaN      0
       male         1309         0      Peter, Master. Michael J   NaN      1

             Parch              Ticket     Fare Cabin Embarked
Pclass Sex
3      male      0              330911   7.8292   NaN        Q
       male      0              315154   8.6625   NaN        S
       male      0                7538   9.2250   NaN        S
       male      0           A/4 48871  24.1500   NaN        S
       male      0              349220   7.8958   NaN        S
...            ...                 ...      ...   ...      ...
       male      0               21332   7.7333   NaN        Q
       male      0           A.5. 3236   8.0500   NaN        S
       male      0  SOTON/O.Q. 3101262   7.2500   NaN        S
       male      0              359309   8.0500   NaN        S
       male      1                2668  22.3583   NaN        C

[146 rows x 10 columns]

C:\Users\Shubham\AppData\Local\Temp\ipykernel_21508\3102430737.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(df.loc[(3, 'male')])

In [14]:
df.reset_index(inplace=True)

In [15]:
df.to_csv('modified_tested.csv', index=False)